<template>
  <nav class="relative bg-white border-b-2 border-gray-300 text-gray-900">
    <div class="mx-auto justify-between">
      <div class="flex items-end">
        <div class="relative block p-4 lg:p-6 text-xl text-blue-600 font-bold flex-1">
          tour <span class="text-black">Travel</span>
        </div>
        <div class="relative block p-4 lg:p-6 text-sm text-blue-600 font-bold">
          Icon Space | Login | Register
        </div>
      </div>
      <ul class="flex bg-blue-500 mb-0">
        <!--Hoverable Link-->
        <li class="hoverable hover:bg-blue-800 hover:text-white text-gray-100">
          <a
            href="#"
            class="relative block py-6 px-4 lg:p-6 text-sm lg:text-base font-bold hover:bg-blue-800 hover:text-white"
          >Travel Guide</a>
          <div class="p-6 mega-menu mb-16 sm:mb-0 shadow-xl bg-blue-800">
            <div class="container mx-auto w-full flex flex-wrap justify-between mx-2">
              <div class="w-full text-white mb-8">
                <h2 class="font-bold text-2xl">
                  Main Hero Message for the menu section
                </h2>
                <p>Sub-hero message, not too long and not too short. Make it just right!</p>
              </div>
              <ul
                class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3"
              >
                <div class="flex items-center">
                  <svg
                    class="h-8 mb-3 mr-3 fill-current text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M3 6c0-1.1.9-2 2-2h8l4-4h2v16h-2l-4-4H5a2 2 0 0 1-2-2H1V6h2zm8 9v5H8l-1.67-5H5v-2h8v2h-2z"
                    />
                  </svg>
                  <h3 class="font-bold text-xl text-white text-bold mb-2">
                    General Information
                  </h3>
                </div>
                <p class="text-gray-100 text-sm pl-10">
                 <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                   <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                <div class="flex items-center py-3">
                  <svg
                    class="h-6 pr-3 fill-current text-blue-300"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z"
                    />
                  </svg>
                  <a
                    href="#"
                    class="text-white bold border-b-2 border-blue-300 hover:text-blue-300"
                  >Find out more...</a>
                </div>
              </ul>
              <ul
                class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-r-0 lg:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3"
              >
                <div class="flex items-center">
                  <svg
                    class="h-8 mb-3 mr-3 fill-current text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M4.13 12H4a2 2 0 1 0 1.8 1.11L7.86 10a2.03 2.03 0 0 0 .65-.07l1.55 1.55a2 2 0 1 0 3.72-.37L15.87 8H16a2 2 0 1 0-1.8-1.11L12.14 10a2.03 2.03 0 0 0-.65.07L9.93 8.52a2 2 0 1 0-3.72.37L4.13 12zM0 4c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4z"
                    />
                  </svg>
                  <h3 class="font-bold text-xl text-white text-bold mb-2">
                    Heading 2
                  </h3>
                </div>
                <p class="text-gray-100 text-sm pl-10">
                 <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                   <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                <div class="flex items-center py-3">
                  <svg
                    class="h-6 pr-3 fill-current text-blue-300"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z"
                    />
                  </svg>
                  <a
                    href="#"
                    class="text-white bold border-b-2 border-blue-300 hover:text-blue-300"
                  >Find out more...</a>
                </div>
              </ul>
              <ul
                class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-b-0 sm:border-r md:border-b-0 pb-6 pt-6 lg:pt-3"
              >
                <div class="flex items-center">
                  <svg
                    class="h-8 mb-3 mr-3 fill-current text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M2 4v14h14v-6l2-2v10H0V2h10L8 4H2zm10.3-.3l4 4L8 16H4v-4l8.3-8.3zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"
                    />
                  </svg>
                  <h3 class="font-bold text-xl text-white text-bold mb-2">
                    Heading 3
                  </h3>
                </div>
                <p class="text-gray-100 text-sm pl-10">
                 <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                   <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                <div class="flex items-center py-3">
                  <svg
                    class="h-6 pr-3 fill-current text-blue-300"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z"
                    />
                  </svg>
                  <a
                    href="#"
                    class="text-white bold border-b-2 border-blue-300 hover:text-blue-300"
                  >Find out more...</a>
                </div>
              </ul>
              <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 pb-6 pt-6 lg:pt-3">
                <div class="flex items-center">
                  <svg
                    class="h-8 mb-3 mr-3 fill-current text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"
                    />
                  </svg>
                  <h3 class="font-bold text-xl text-white text-bold mb-2">
                    Heading 4
                  </h3>
                </div>
                <p class="text-gray-100 text-sm pl-10">
                 <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                   <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                <div class="flex items-center py-3">
                  <svg
                    class="h-6 pr-3 fill-current text-blue-300"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z"
                    />
                  </svg>
                  <a
                    href="#"
                    class="text-white bold border-b-2 border-blue-300 hover:text-blue-300"
                  >Find out more...</a>
                </div>
              </ul>
              <ul
                class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b border-t  sm:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3"
              >
                <div class="flex items-center">
                  <svg
                    class="h-8 mb-3 mr-3 fill-current text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M3 6c0-1.1.9-2 2-2h8l4-4h2v16h-2l-4-4H5a2 2 0 0 1-2-2H1V6h2zm8 9v5H8l-1.67-5H5v-2h8v2h-2z"
                    />
                  </svg>
                  <h3 class="font-bold text-xl text-white text-bold mb-2">
                    Heading 1
                  </h3>
                </div>
                <p class="text-gray-100 text-sm pl-10">
                 <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                   <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                <div class="flex items-center py-3">
                  <svg
                    class="h-6 pr-3 fill-current text-blue-300"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z"
                    />
                  </svg>
                  <a
                    href="#"
                    class="text-white bold border-b-2 border-blue-300 hover:text-blue-300"
                  >Find out more...</a>
                </div>
              </ul>
              <ul
                class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b border-t sm:border-r-0 lg:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3"
              >
                <div class="flex items-center">
                  <svg
                    class="h-8 mb-3 mr-3 fill-current text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M4.13 12H4a2 2 0 1 0 1.8 1.11L7.86 10a2.03 2.03 0 0 0 .65-.07l1.55 1.55a2 2 0 1 0 3.72-.37L15.87 8H16a2 2 0 1 0-1.8-1.11L12.14 10a2.03 2.03 0 0 0-.65.07L9.93 8.52a2 2 0 1 0-3.72.37L4.13 12zM0 4c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4z"
                    />
                  </svg>
                  <h3 class="font-bold text-xl text-white text-bold mb-2">
                    Heading 2
                  </h3>
                </div>
                <p class="text-gray-100 text-sm pl-10">
                 <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                   <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                <div class="flex items-center py-3">
                  <svg
                    class="h-6 pr-3 fill-current text-blue-300"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z"
                    />
                  </svg>
                  <a
                    href="#"
                    class="text-white bold border-b-2 border-blue-300 hover:text-blue-300"
                  >Find out more...</a>
                </div>
              </ul>
              <ul
                class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b border-t sm:border-b-0 sm:border-r md:border-b-0 pb-6 pt-6 lg:pt-3"
              >
                <div class="flex items-center">
                  <svg
                    class="h-8 mb-3 mr-3 fill-current text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M2 4v14h14v-6l2-2v10H0V2h10L8 4H2zm10.3-.3l4 4L8 16H4v-4l8.3-8.3zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"
                    />
                  </svg>
                  <h3 class="font-bold text-xl text-white text-bold mb-2">
                    Heading 3
                  </h3>
                </div>
                <p class="text-gray-100 text-sm pl-10">
                 <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                   <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                <div class="flex items-center py-3">
                  <svg
                    class="h-6 pr-3 fill-current text-blue-300"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z"
                    />
                  </svg>
                  <a
                    href="#"
                    class="text-white bold border-b-2 border-blue-300 hover:text-blue-300"
                  >Find out more...</a>
                </div>
              </ul>
              <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-t pb-6 pt-6 lg:pt-3">
                <div class="flex items-center">
                  <svg
                    class="h-8 mb-3 mr-3 fill-current text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"
                    />
                  </svg>
                  <h3 class="font-bold text-xl text-white text-bold mb-2">
                    Heading 4
                  </h3>
                </div>
                <p class="text-gray-100 text-sm pl-10">
                 <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                   <a href="javascript:;">Plan Your Trip</a>
                </p>
                 <p class="text-gray-100 text-sm pl-10">
                  <a href="javascript:;"> Neighbourhood</a>
                </p>
                <div class="flex items-center py-3">
                  <svg
                    class="h-6 pr-3 fill-current text-blue-300"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z"
                    />
                  </svg>
                  <a
                    href="#"
                    class="text-white bold border-b-2 border-blue-300 hover:text-blue-300"
                  >Find out more...</a>
                </div>
              </ul>
            </div>
          </div>
        </li>

        <!-- ## Hoverable Link Template ##-->
        <!--Regular Link-->
        <li class="hover:bg-blue-800 hover:text-white text-gray-100">
          <a href="#" class="relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-bold">Day Trips And Guided Tours</a>
        </li>
         <li class="hover:bg-blue-800 hover:text-white text-gray-100">
          <a href="#" class="relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-bold"> Airpot Transfers</a>
        </li>
        
         <li class="hover:bg-blue-800 hover:text-white text-gray-100">
          <a href="#" class="relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-bold"> Hotel Deals</a>
        </li>
         <li class="hover:bg-blue-800 hover:text-white text-gray-100">
          <a href="#" class="relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-bold">Day Car Rentals</a>
        </li>
         <li class="hover:bg-blue-800 hover:text-white text-gray-100">
          <a href="#" class="relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-bold">Day Flights</a>
        </li>
      </ul>
    </div>
      <div>
      <!--maincoontent from here -->
      <div class="wrapper d-flex align-items-stretch">
         <div id="sidebar">
            <div class="p-4 pt-5">
               <ul class="list-unstyled components mb-5">
                  <li class="active"><a href="#"><i class="fa fa-info-circle"></i><span>General</span></a></li>
                  <li><a href="#">Attractions</a></li>
                  <li><a href="#">Getting there</a></li>
                  <li><a href="#">Transport</a></li>
                  <li><a href="#">Saving Money</a></li>
                  <li><a href="#">Shopping</a></li>
                  <li><a href="#">Where to Eat</a></li>
                  <li><a href="#">Where to stay</a></li>
                  <li><a href="#">MAP</a></li>
                   <li><a href="#">Attractions</a></li>
                  <li><a href="#">Getting there</a></li>
                  <li><a href="#">Transport</a></li>
                  <li><a href="#">Saving Money</a></li>
                  <li><a href="#">Shopping</a></li>
                  <li><a href="#">Where to Eat</a></li>
                  <li><a href="#">Where to stay</a></li>
                  <li><a href="#">MAP</a></li>
                   <li><a href="#">Attractions</a></li>
                  <li><a href="#">Getting there</a></li>
                  <li><a href="#">Transport</a></li>
                  <li><a href="#">Saving Money</a></li>
                  <li><a href="#">Shopping</a></li>
                  <li><a href="#">Where to Eat</a></li>
                  <li><a href="#">Where to stay</a></li>
                  <li><a href="#">MAP</a></li>
               </ul>
            </div>
         </div>
         <!-- Page Content  -->
         <div id="content" class="p-4 p-md-5 pt-8">
            <h2 class="mb-4">Main Content Area Goes Here...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h2 class="mb-4">Sidebar #02</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h2 class="mb-4">Sidebar #02</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h2 class="mb-4">Sidebar #02</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h2 class="mb-4">Sidebar #02</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h2 class="mb-4">Sidebar #02</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h2 class="mb-4">Sidebar #02</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
         <div id="sidebar">
            <div class="p-4 pt-5">
               <ul class="list-unstyled components mb-5">
                  <li class="active"><a href="#">General</a></li>
                  <li><a href="#">Attractions</a></li>
                  <li><a href="#">Getting there</a></li>
                  <li><a href="#">Transport</a></li>
                  <li><a href="#">Saving Money</a></li>
                  <li><a href="#">Shopping</a></li>
                  <li><a href="#">Where to Eat</a></li>
                  <li><a href="#">Where to stay</a></li>
                  <li><a href="#">MAP</a></li>
                   <li><a href="#">Attractions</a></li>
                  <li><a href="#">Getting there</a></li>
                  <li><a href="#">Transport</a></li>
                  <li><a href="#">Saving Money</a></li>
                  <li><a href="#">Shopping</a></li>
                  <li><a href="#">Where to Eat</a></li>
                  <li><a href="#">Where to stay</a></li>
                  <li><a href="#">MAP</a></li>
                   <li><a href="#">Attractions</a></li>
                  <li><a href="#">Getting there</a></li>
                  <li><a href="#">Transport</a></li>
                  <li><a href="#">Saving Money</a></li>
                  <li><a href="#">Shopping</a></li>
                  <li><a href="#">Where to Eat</a></li>
                  <li><a href="#">Where to stay</a></li>
                  <li><a href="#">MAP</a></li>
               </ul>
            </div>
         </div>
      </div>

      </div>
  </nav>
  
</template>

<script>
export default {}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/

.mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index:999;
  }

  /* #hoverable Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .hoverable {
    position: static;
  }

  .hoverable > a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .hoverable:hover .mega-menu {
    display: block;
  }
  /* #toggle Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .toggle-input {
    display: none;
  }
  .toggle-input:not(checked) ~ .mega-menu {
    display: none;
  }

  .toggle-input:checked ~ .mega-menu {
    display: block;
  }

  .toggle-input:checked + label {
    color: white;
    background: #2c5282; /*@apply bg-blue-800 */
  }

  .toggle-input:checked ~ label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }
  
  /* main content css */

  ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 25px;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}


/*menu*/

.wrapper {
  width: 100%;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: sticky;
  height: 100%;
  margin: 0;
  background: #fff;
  padding: 1.875rem 1.25rem;
  box-shadow: 1px 20px 29.7px 1px rgba(0, 0, 0, .1);
  top: 0;
}

#sidebar.active .custom-menu {
  margin-right: -50px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}


/*section size*/

.p-4 {
  padding: 1.5rem !important;
}

.pt-5,
.py-5 {
  padding-top: 0rem !important;
}


/*side #sidebar*/

#sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.#sidebar-link {
  display: block;
  padding: 0.5rem 1rem;
}

.#sidebar-link:hover,
.#sidebar-link:focus {
  text-decoration: none;
}

.#sidebar-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.#sidebar-tabs {
  border-bottom: 1px solid #dee2e6;
}

.#sidebar-tabs .#sidebar-item {
  margin-bottom: -1px;
}

.#sidebar-tabs .#sidebar-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.#sidebar-tabs .#sidebar-link:hover,
.#sidebar-tabs .#sidebar-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.#sidebar-tabs .#sidebar-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.#sidebar-tabs .#sidebar-link.active,
.#sidebar-tabs .#sidebar-item.show .#sidebar-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.#sidebar-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.#sidebar-pills .#sidebar-link {
  border-radius: 0.25rem;
}

.#sidebar-pills .#sidebar-link.active,
.#sidebar-pills .show>.#sidebar-link {
  color: #fff;
  background-color: #007bff;
}

.#sidebar-fill .#sidebar-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.#sidebar-justified .#sidebar-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.#sidebarbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

#sidebar ul li a {
  display: block;
  position: relative;
  z-index: 13;
  margin-bottom: .1875rem;
  padding: .59375rem 1.25rem .59375rem 0rem;
  font-weight: 400;
  font-size: 1rem;
  color: #1c1a1a;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2;
  text-decoration: none;
  font-family: sans-serif;
}

#sidebar ul li a i {
  display: inline-block;
  margin-left: -15px;
  margin-right: 20px;
  color: #ccc;
  float: left;
}

#sidebar ul li a span {
  display: flex;
}


/*togle*/

.#sidebarbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.#sidebarbar-toggler:hover,
.#sidebarbar-toggler:focus {
  text-decoration: none;
}

.#sidebarbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 991.98px) {
  #sidebar.active {
    margin-left: 0;
  }
}

#sidebar.active {
  margin-left: -300px;
}


/*media*/

@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -300px;
  }
  #sidebar .custom-menu {
    margin-right: -50px !important;
    top: 10px !important;
  }
}

#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar .custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#sidebar .custom-menu .btn.btn-primary {
  background: #ffffff;
  border-color: #ffffff;
}

#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
  background: #ffffff !important;
  border-color: #ffffff !important;
  outline: none;
}

#sidebar ul li{
list-style-type: circle;
 }

</style>
